In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [25]:
df = pd.read_csv('emails.csv')

In [26]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [27]:
df.tail()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [29]:
df.shape

(5172, 3002)

In [30]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [31]:
# Get a list of all columns in the DataFrame
all_columns = df.columns

# Select only numerical columns
numerical_columns = df.select_dtypes(include=['number']).columns

# Find non-numerical columns
non_numerical_columns = [col for col in all_columns if col not in numerical_columns]

# Print the non-numerical columns
if len(non_numerical_columns) == 0:
    print("All columns are numerical.")
else:
    print("Non-numerical columns:", non_numerical_columns)

Non-numerical columns: ['Email No.']

In [32]:
df = df.drop(columns=['Email No.'])

In [33]:
X = df.drop(columns=['Prediction'])
y = df['Prediction']

In [34]:
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.4, random_state=1)
X_cv, X_test, y_cv, y_test = train_test_split(X_cv, y_cv, test_size=0.5, random_state=1)

In [35]:
from sklearn.preprocessing import StandardScaler
norm = StandardScaler()
X_train = norm.fit_transform(X_train)
X_test = norm.fit_transform(X_test)

In [36]:
X_cv = norm.fit_transform(X_cv)

In [37]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
lr_pred_cv = lr_model.predict(X_cv)
from sklearn.metrics import accuracy_score
lr_pred_cv
lr_accuracy = accuracy_score(y_cv, lr_pred_cv)
lr_accuracy

0.9642166344294004

In [38]:
lr_pred_train = lr_model.predict(X_train)
lr_accuracy = accuracy_score(y_train, lr_pred_train)
lr_accuracy

0.999677731227844

In [39]:
lr_pred_test = lr_model.predict(X_test)
lr_accuracy = accuracy_score(y_test, lr_pred_test)
lr_accuracy

0.9623188405797102